@import 
url('https://fonts.googleapis.com/css?family=Orbitron');
@import 
url('https://fonts.googleapis.com/css?family=Days+One');


/* --- FONTS --- */
h1 {
	font-family: 'Orbitron', sans-serif;
}

.brand-text {
  font-family: 'Orbitron', sans-serif;
}

.sc-header-font {
  font-family: 'Days One', sans-serif;
}




.brand-text.float-left {
  padding-right: 10px;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.sc-sb-color {
  color: red;
}


.logo-size {
    max-width: 100px;
    max-height: 100px;
}